body {

}

#logo {
	height: 54px;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
}

#title-bar {
	background-color: #C3D9FF;
	height: 18px;
	font-weight: bold;
}

.success_div {
	color: #73880A;
	padding-left: 20px;
	background-image: url('../img/success.png');
	background-repeat: no-repeat;
}

.error_div {
	color: #FF1A00;
	padding-left: 20px;
	background-image: url('../img/error.png');
	background-repeat:no-repeat;
}
